/*Hoja de estilos para fooghub.github.io |Archivo: index.css| CSS (versión 3, dominante) |Autor: Foog.Software| **Dependencias: modernizr.js **/ 

html,body{
	width:100%;
	height:100%;
	margin:0;
	font-size: 100%;
	font-family:"Nimbus Sans L","URW Gothic L",Verdana,Tahoma,Helvetica,"Lucida Grande",Geneva,"DejaVu Sans","Microsoft Sans Serif",sans-serif; 	
	font-weight:normal;
	color:#686868;
	background-color:#E0E0E0;	
	overflow:hidden;
	cursor:default;
}

#continente{
	position:absolute;
	top:1px; left:1px; bottom:1px; right:1px;	
}

#cabecera{
	position:relative;
	top: 0; left:0; right:0;
	height:49px;
	border-bottom:2px solid #ffffff;
}

#marco-exterior-pulsador-directorio-contenidos{
	float:left;
	width: 48px;
	height:48px;
}

#marco-interior-pulsador-directorio-contenidos{
	float:left;
	width: 30px;
	height:30px;
	padding:4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:14px 3px 4px 14px;
}

#pulsador-directorio-contenidos{
	display: inline-block;
	cursor: pointer;
	width:20px;
	opacity: 0.8;
	filter:Alpha(opacity=80);
}

#pulsador-directorio-contenidos:hover{
	opacity: 1;
	filter:Alpha(opacity=100);
	cursor:pointer;
}

.pulsador-directorio-contenidos-barra1, .pulsador-directorio-contenidos-barra2, .pulsador-directorio-contenidos-barra3 {
	width: 20px;
	height: 4px;
	background-color: #999999;
	margin: 3px 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition:0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;      
}

.cambio-aspecto .pulsador-directorio-contenidos-barra1 {
	-ms-transform: rotate(-45deg) translate(-6px, 3px); 
	-webkit-transform: rotate(-45deg) translate(-6px, 3px) ;
	transform: rotate(-45deg) translate(-6px, 3px) ;
}

.cambio-aspecto .pulsador-directorio-contenidos-barra2 {
	opacity: 0;
	filter:Alpha(opacity=0);
}

.cambio-aspecto .pulsador-directorio-contenidos-barra3 {
	-ms-transform: rotate(-45deg) translate(-6px, -4px); 
	-webkit-transform: rotate(45deg) translate(-6px, -4px) ;
	transform: rotate(45deg) translate(-6px, -4px) ;
}

#directorio-contenidos{
	position:absolute;
	top:52px; left:2px;
	width:auto;
	max-width:50%;
	height:auto;
	max-height:69%;
	font-weight:normal;
	font-size: 100%;
	display:none;
	background-color: #FFFFFF;
	color:#0d0d0d;
	z-index:2;
}

#directorio-contenidos ul {
	list-style-type: none;
	margin: 2px;
	padding: 2px;	
}

#directorio-contenidos li {
	margin:2px;
	padding:4px;
	font-size:0.8rem;
}

#directorio-contenidos li:hover {
	background-color: #595959;
	color:#FFFFFF;
	cursor:pointer;
}

.bocadillo {
	top:40px;
	position: relative;
	background: #ffffff;
	border:1px solid #BEBEBE;
	width:auto;
	height:auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.75);
	box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.75);
	filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.75));
}

.bocadillo:after, 
.bocadillo:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}

.bocadillo:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 12px;
	left: 20%;
	margin-left: -12px;
}

.bocadillo:before {
	border-color: rgba(113, 158, 206, 0);
	border-bottom-color: #BEBEBE;
	border-width: 12px; 
	left: 20%;
	margin-left:-12px; 
}

#logo{
	float:left;
	margin-left:6px;
	width: -moz-calc(68% - 54px);
	width: -o-calc(68% - 54px);
	width: -webkit-calc(68% - 54px);
	width: calc(68% - 54px);
	height:100%;
}

.no-csscalc #logo{width:58%;}

#logo-imagen{
	float:left;
	width:auto;
	max-width:100%;
	height:auto;
	max-height:100%;
}

.icono-14{
	width:14px;
	height:14px;
	display: inline-block;
	vertical-align:middle;
}

.icono-16{
	width:16px;
	height:16px;
	display: inline-block;
	vertical-align:middle;
}

.email{
	width:130px;
	height:16px;
	display: inline-block;
	vertical-align:middle;
}

.icono-32{
	width:32px;
	height:32px;
	display: inline-block;
	vertical-align:middle;
}

.icono-48{
	width:48px;
	height:48px;
	display: inline-block;
	vertical-align:middle;
}

.icono-64{
	width:64px;
	height:64px;
	display: inline-block;
	vertical-align:middle;
}
a.icono-64:hover{cursor:pointer;}

a.icono-64{
    outline: none;
}

#cuerpo{
	position:relative;
	top: 0; left:0; right:0;
	height: -moz-calc(100% - 84px);
	height: -webkit-calc(100% - 84px);
	height: -o-calc(100% - 84px);
	height: calc(100% - 84px);
	color:inherit;
	background-color: #FAFAFA;
}
.no-csscalc #cuerpo {height:80%; }

#contenido{
	float:left;
	margin:1%;
	width:98%;
	height:97%;
	background-color: #FAFAFA;
	color:inherit;
	overflow-x:hidden;
	overflow-y: auto;	
}

#visor-imagen{
	position:absolute;
	top:1px; left:1px; bottom:1px; right:1px;
	color:#FFFFFF;
	background-color:transparent;
	border-bottom:2px solid #000000;
	border-right:2px solid #000000;
	z-index: 1;
	visibility:hidden;
}

#visor-imagen-cabecera{
	float:left;
	width:100%;
	height:49px;
}

#visor-imagen-cabecera-izquierda{
	float:left;
	width: 70%;
	height: 100%;	
}

#visor-imagen-cabecera-izquierda-acceso-pulsador-directorio-contenidos{
	float:left;
	width:48px;
	height:48px;
}

#visor-imagen-cabecera-izquierda-acceso-pulsador-directorio-contenidos:hover{
	cursor:pointer;
}

#visor-imagen-cabecera-derecha{
	float:right;
	width: 30%;
	height:100%;
	background-color: #595959;
	color:inherit;
	opacity:0.9;
	filter:Alpha(opacity=90);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:6px 14px 2px 0;
	border-top-left-radius: 20px;  		
}
 
#visor-imagen-cierre{
	float:right;
	width: 32px;
	height:32px;
	margin-top:8px;
	opacity:0.8;
	filter:Alpha(opacity=80);
} 

#visor-imagen-cierre:hover, #visor-imagen-cierre:active {
	cursor:pointer;
	opacity:1;
	filter:Alpha(opacity=100);
}  
 
#visor-imagen-cuerpo{
	float:left;
	width:100%;
	height: -moz-calc(100% - 82px);
	height: -webkit-calc(100% - 82px);
	height: -o-calc(100% - 82px);
	height: calc(100% - 82px);
	background-color: #595959;
	color:inherit;
	opacity:0.9;
	filter:Alpha(opacity=90);				
}

.no-csscalc #visor-imagen-cuerpo{height:80%; }

#visor-imagen-contenido{
	float:left;
	margin:1%;
	width:98%;
	height:96%;
	background-color:#000000;
	color:inherit;
	border: 2px solid  #727272;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;	
	border-radius: 20px;
	opacity:1;
	filter:Alpha(opacity=100);
	text-align:center;	
}

#visor-imagen-carrusel{
	float:none;
	width:auto;
	max-width:99%;
	height:auto;
	max-height:99%;
	text-align:center;
	opacity:1;
	filter:Alpha(opacity=100);
}

#visor-imagen-pie{
	float:left;
	width:100%;
	height:33px;
	background-color:#353535;
	opacity:0.9;
	filter:Alpha(opacity=90);		
}

#visor-imagen-pie-izquierdo{
	float:left;
	width:32px;
	height:100%;
	margin-left:12px;
}

#visor-imagen-pie-centro{
	float:left;
	width: -moz-calc(100% - 98px);
	width: -webkit-calc(100% - 98px);
	width: -o-calc(100% - 98px);
	width: calc(100% - 98px);
	height:100%;
	color:#FFFFFF;
	background-color:inherit;
	text-shadow: 0 1px 1px #000;
	font-size:0.6rem;
}

.no-csscalc #visor-imagen-pie-centro{width:80%;}

#visor-imagen-pie-derecho{
	float:right;
	width:32px;
	height:100%;
	margin-right:12px;
}

#visor-imagen-pie-pulsador-izquierdo{
	float:left;
	width:36px;
	height:32px;
	opacity:0.8;
	filter:Alpha(opacity=80);
}

#visor-imagen-pie-pulsador-derecho{
	float:right;
	width:36px;
	height:32px;
	opacity:0.8;
	filter:Alpha(opacity=80);
}

.caja{
	float:left;
	margin:1%;
	width:98%;
	height:auto;
	font-size: 0.8rem;
}


.titular-principal{
	float:left;
	width:98%;
	height:auto;
	font-weight:bold;
	font-size: 0.8rem;
	text-align:center;
	color:#0d0d0d;
	background-color:inherit;
	margin:1% 0 1% 1%;
}

.titular-sector{
	float:left;
	width: auto;
	height:auto;
	font-weight:bold;
	font-size: 0.8rem;
	color:#FFFFFF;
	background-color:#595959;
	padding: 4px 6px 4px 6px;
	margin:1% 0 1% 1%;
}

.formulario{
	float:left;
	width:100%;
	height:auto;
}

.formulario-cabecera{
	float:left;
	width:100%;
}

.formulario-cabecera-texto{
	float:left;
	width:auto;
	max-width:60%;
	font-weight:bold;
	font-size: 0.8rem;
	color:#FFFFFF;
	background-color:#595959;
	text-overflow: ellipsis;
	padding: 4px 6px 4px 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.formulario-cabecera-cierre{
	float:right;
	width:22px;
	height: 22px;
	color:#000000;
	background-color: inherit;
	font-weight:bold;
	font-size: 1rem;
	text-align:center;
	margin-right:6px;
	cursor:pointer;
	border:2px solid #595959;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.formulario-cabecera-cierre:hover{
	color:#FFF;
	background-color:#8C8C8C;
}

.formulario-titular{
	width:100%;
	height:48px;
	margin-top:38px;
	font-weight:bold;
	font-size: 0.8rem;
	color:#0d0d0d;
	background-color:inherit;
}

#licencia-cc-by-nc-sa .formulario-titular, #licencia-cc-internacional .formulario-titular{
	height:auto;
	padding: 6px 0 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color:#FFFFFF;
	background-color:#595959;
	text-align:center;
}

.formulario-cuerpo{
	width:100%;
	height:auto;
}

.formulario-pie{
	float:right;
	width:90%;
	height:auto;
}

.texto-destacado{
	color:#0d0d0d;
	background-color:inherit;
}

.caja-titular{
	float:left;
	width:100%;
	height:auto;
	font-weight:bold;
	font-size: 0.8rem;
	line-height:1.6rem;
}

.caja-icono{
	float:left;
	width:8%;
	height:100%; 
	display:block;   
}

.imagen-apartado{
	width:100%;
	max-width:64px;
	max-height:64px;
	display: inline-block; 
	vertical-align: top;
}

.caja-texto{
	float: right;
	width:90%;
	height:auto;
}

#pie{
	position:relative;
	top:0; left:0; 
	margin:0;
	padding:0;
	width:100%;
	min-height:33px;
	border-top:1px solid #fff;
	text-align:right;
	color:#808080;
	background-color: inherit;
	text-shadow: 0 1px 1px #FFFFFF;
	text-align:right;
	font-size: 9px;
	display:block;
	border-top:1px solid #FFFFFF;
}

#pie-derecho{
	float:right;
	width:auto;
	max-width: 250px;
	min-height:32px;
	margin:0 1% 0 0;
	padding:0;
	display:block;
	line-height:10px;
	 white-space: nowrap;
}

#pie-derecho-foog-software{
	display: inline-block;
}

@media all and (orientation: portrait) {
	
	#pie-derecho-foog-software{
		line-height:20px;	
	}
	
}
#pie-derecho-foog-web{
	display:block;
}

#pie-derecho-foog-software, #pie-derecho-foog-web{
	padding:0;
	margin:0;
}

#pie-derecho:hover{
	cursor:pointer;
}

#pie-derecho:active{
	cursor:wait;
}

#pulsador-subir{
	font-size:1rem;
	text-align:right;
}

#pulsador-subir:hover{
	color:#000;
	background-color:inherit;
	cursor:pointer;
}

#pulsador-subir:active{
	cursor:wait;
}

a.enlace:link,a.enlace:visited{font-weight:bold;text-decoration:none;color:#006699;background-color:inherit;}
a.enlace:active{cursor:wait;}
a.enlace:hover{text-decoration:underline;color:#003C72;background-color:inherit;}

a.enlace-correo:link,a.enlace-correo:visited{font-weight:bold;text-decoration:none;color:#006699;background-color:inherit;border:0;}
a.enlace-correo:active{cursor:wait;}
a.enlace-correo:hover{color:#003C72;background-color:inherit;}

ul.circunferencia {    
	list-style-type: circle;
}

.nota{
	width: -moz-calc(100% - 26px);
	width: -webkit-calc(100% - 26px);
	width: -o-calc(100% - 26px);
	width: calc(100% - 26px);
	margin-top:12px;
	margin-left:6px;
	border-left: 2px solid #868686;
	padding-left: 6px;
	color: #868686;
	background-color: inherit;
}
.no-csscalc .nota{width:85%;}

.formulario .nota{
	color:#0d0d0d;
	background-color: inherit;
}

.talla-xs{
	font-size: x-small;
}

.talla-xxs{
	font-size: xx-small;
}

.copyleft{ 
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform:rotate(180deg);
	cursor:default;	
}

.ver-capturas{
	font-weight:bold;
	text-decoration:none;
	color:#006699;
	cursor:default;
	background-color:inherit;
}

.ver-capturas:hover{
	cursor:pointer;
	text-decoration:underline;
	color:#003C72;
	background-color:inherit;
}

.bloque {
	text-align: center;  
	white-space: nowrap;
}


.bloque:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25rem;
}

.centrado {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.logo-mini{
	width:138px;
	height:48px;
	display: inline-block;
	vertical-align:middle;
}

#notificaciones{
	display:none;
}

#notificaciones-tabla{
	width:auto;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	border-spacing: 4px;
	border: 1px solid #D9D9D9;
	font-size:10px;
	font-weight:bold;
	color:#595959;
	background-color:inherit;
}

#notificaciones-tabla td, th{
	border:none;
}

#notificaciones-cierre{
	width:18px;
	height:18px;
	vertical-align:middle;
	text-align:center;
	font-size:16px;
	color:inherit;
	background-color:#F2F2F2;
	cursor:pointer;
}

#notificaciones-cierre:hover{
	color:#FFFFFF;
	background-color:#595959;
}

#notificaciones-imagen{
	width:34px;
	height:auto;
	vertical-align:top;
	text-align:center;
}

#notificaciones-texto{
	vertical-align:top;
}

#notificaciones-pie{
	height:16px;
}

#protector{
	top:0; right:0; bottom:0; left:0;
	position:absolute;
	width:100%;
	height:100%;
	color:inherit;
	background-color: transparent;
	cursor:wait;
	z-index:3;
	display:none;
}

#protector-imagen {
	position: absolute;
	width:46px;
	height:46px;  
	left: 50%;
	top: 50%;
	margin-left: -23px; 
	margin-top: -23px; 
	cursor:none;
	opacity:0.3;
	filter:Alpha(opacity=30);
	z-index: 4;
}

.noscript{
	width:98%;
	height:auto;
	padding:1%;
	color:inherit;
	background-color:#F2F2F2;
	border: 2px double #797979; 
}

.espaciado li{
	margin:8px 0 8px 0;
}

.sin-adorno{
	list-style-type:none;
}

.cc-by{
	width:70px;
	height:25px;
	border-width:0;
}
